<button routerLink=".." class="btn btn-info my-2">
  Volver<mat-icon>back</mat-icon>
</button>
<form [formGroup]="formulario" (ngSubmit)="horasTrabajadasPorSemana()">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="tecnico" class="col-form-label">Técnico</label>
    </div>
    <div class="col-auto">
      <input
        formControlName="tecnico"
        type="search"
        id="tecnico"
        class="form-control"
        required
      />
    </div>
    <div class="col-auto">
      <input
        formControlName="semana"
        type="week"
        class="form-control"
        required
      />
    </div>
    <div class="col-auto">
      <button
        [disabled]="formulario.invalid"
        class="btn btn-outline-primary"
        type="submit"
      >
        Buscar
      </button>
    </div>
  </div>
</form>

<div *ngIf="mensajes.length > 0" class="alert alert-success m-4" role="alert">
  <hr />
  <div *ngFor="let mensaje of mensajes">
    <p>{{ mensaje }}</p>
    <hr />
  </div>
</div>
