<div class="alert alert-primary" role="alert">
  <h1>{{ titulo }}</h1>
</div>
<button routerLink="crear" class="btn btn-info">
  Agregar reporte
  <mat-icon>add</mat-icon>
</button>
<table mat-table [dataSource]="reportes" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="Técnico">
    <th mat-header-cell *matHeaderCellDef>Técnico</th>
    <td mat-cell *matCellDef="let element">{{ element.tecnico }}</td>
  </ng-container>

  <ng-container matColumnDef="Servicio">
    <th mat-header-cell *matHeaderCellDef>Servicio</th>
    <td mat-cell *matCellDef="let element">{{ element.servicio }}</td>
  </ng-container>

  <ng-container matColumnDef="Fecha de inicio">
    <th mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
    <td mat-cell *matCellDef="let element">
      {{ element.fecha_inicio | date: "h:mm a dd/MMMM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Fecha de finalización">
    <th mat-header-cell *matHeaderCellDef>Fecha de finalización</th>
    <td mat-cell *matCellDef="let element">
      {{ element.fecha_finalizacion | date: "h:mm a dd/MMMM/yyyy" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
