<div>
  <form [formGroup]="formulario" (ngSubmit)="registrarReporte()">
    <div class="my-3">
      Técnio
      <input
        type="text"
        class="form-control"
        placeholder="Identificacíon del técnico"
        formControlName="tecnico"
        required
      />
    </div>
    <div class="my-3">
      Servicio
      <select
        class="form-select"
        placeholder="Servicio"
        formControlName="servicio"
        required
      >
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="2">Three</option>
        <option value="2">Four</option>
      </select>
    </div>
    <div class="my-3">
      Fecha y hora de inicio
      <input
        type="datetime-local"
        class="form-control"
        placeholder="Fecha de inicio"
        formControlName="fecha_inicio"
        required
      />
    </div>
    <div class="my-3">
      Fecha y hora de finalización
      <input
        type="datetime-local"
        class="form-control"
        placeholder="Fecha de finalización"
        formControlName="fecha_finalizacion"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-success"
    >
      Registrar
    </button>
  </form>
</div>
