<div>
  <button routerLink="../" class="btn btn-info">
    Volver<mat-icon>back</mat-icon>
  </button>
  <div class="alert alert-danger" role="alert" *ngFor="let error of errores">
    {{ error }}
  </div>
  <form [formGroup]="formulario" (ngSubmit)="registrarReporte()">
    <div class="my-3">
      Técnio
      <input
        type="text"
        class="form-control"
        placeholder="Identificacíon del técnico"
        formControlName="tecnico"
        required
      />
    </div>
    <div class="my-3">
      Servicio
      <select
        class="form-select"
        placeholder="Servicio"
        formControlName="servicio"
        required
      >
        <option *ngFor="let servicio of servicios" [ngValue]="servicio">
          {{ servicio }}
        </option>
      </select>
    </div>
    <div class="my-3">
      Fecha y hora de inicio
      <input
        type="datetime-local"
        class="form-control"
        placeholder="Fecha de inicio"
        formControlName="fecha_inicio"
        required
      />
    </div>
    <div class="my-3">
      Fecha y hora de finalización
      <input
        type="datetime-local"
        class="form-control"
        placeholder="Fecha de finalización"
        formControlName="fecha_finalizacion"
        required
      />
    </div>
    <button
      [disabled]="formulario.invalid"
      type="submit"
      class="btn btn-success"
    >
      Registrar
    </button>
  </form>
</div>
